
body {
	background-color: #B5B3AA;
}

.form-wrapper {
	width: 550px;
	padding: 30px;
	margin: 20px auto;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.13);
}

#register {
	background-color: #E2DED5;
}

.form-wrapper .inner-wrap{
	padding: 30px;
	background-color: #E2DED5;
	border-radius: 6px;
	margin: -15px;
}

.form-wrapper .inner-wrap input, .form-wrapper .inner-wrap textarea{
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	border: 2px solid white;
	margin-bottom: 10px;
	margin-top: 5px;
}

.form-wrapper h1{
	height: 60px;
	-webkit-text-stroke: 1px black;
   color: #2a88ad;
   /*text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;*/
	/*background-image: url("checkered-flag-background.jpg");*/
	padding: 20px 30px 15px 30px;
	
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	font: 30px, Arial, Helvetica, sans-serif;
}

.form-wrapper .section{
	font: 20px serif;
	color: #2a88ad;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 15px;
}

.form-wrapper label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.form-wrapper .button-section input{
	background: #2a88ad;
	padding: 8px 20px;
	border-radius: 6px;
	color: white;
	font: 16px 'serif';
	border: 2px solid #257c9e;
	cursor: pointer;	
}

.form-wrapper .button-section input:hover{
	background: #2a6881;
}

#submit-wrapper {
	text-align: center;
}

.section {
	background-color: #E2DED5;
}

.form-control {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);

}





























